# [Lychee](https://lycheeorg.github.io/) is a free photo-management tool, which
# runs on your server or web-space. Installing is a matter of seconds. Upload,
# manage and share photos like from a native application. Lychee comes with
# everything you need and all your photos are stored securely.'

---
version: "2.1"
services:
  lychee:
    image: ghcr.io/linuxserver/lychee
    container_name: lychee
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # DB type, from `sqlite`, `mysql`, `pqsql`.
      - DB_CONNECTION=
      # DB server hostname. For `mysql` and `pgsql` only.
      - DB_HOST=
      # DB server port. For `mysql` and `pgsql` only.
      - DB_PORT=
      # DB user. For `mysql` and `pgsql` only.
      - DB_USERNAME=
      # DB password. For `mysql` and `pgsql` only.
      - DB_PASSWORD=
      # Path to DB file for `sqlite`. DB name for `mysql` and `pgsql`.
      - DB_DATABASE=
      # The gallery name.
      - APP_NAME=Lychee # optional
      # The URL you will use to access Lychee including protocol, and port where appropriate.
      - APP_URL= # optional
      # Set to the IP or netmask covering your reverse proxy, if running behind one. Set to `*` to trust all IPs (**do not** use `*` if exposed to the internet`).
      - TRUSTED_PROXIES= # optional
    volumes:
      # Persistent config files.
      - ${BASEDIR:-/volume1/docker}/lychee/config:/config
      # Where lychee will store uploaded images.
      - ${BASEDIR:-/volume1/docker}/lychee/pictures:/pictures
    ports:
      # http gui
      - 80:80
    restart: unless-stopped
