# [Opera](https://www.opera.com/) is a multi-platform web browser developed by
# its namesake company Opera. The browser is based on Chromium, but
# distinguishes itself from other Chromium-based browsers (Chrome, Edge, etc.)
# through its user interface and other features.

---
version: "2.1"
services:
  opera:
    image: ghcr.io/linuxserver/opera
    container_name: opera
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # Specify one or multiple Chromium CLI flags, this string will be passed to the application in full.
      - OPERA_CLI=https://www.linuxserver.io/ # optional
    volumes:
      # Users home directory in the container, stores local files and settings
      - ${BASEDIR:-/volume1/docker}/opera/config:/config
    ports:
      # Opera desktop gui.
      - 3000:3000
      # HTTPS Opera desktop gui.
      - 3001:3001
    shm_size: "1gb"
    restart: unless-stopped
