# [Phpmyadmin](https://github.com/phpmyadmin/phpmyadmin/) is a free software
# tool written in PHP, intended to handle the administration of MySQL over the
# Web. phpMyAdmin supports a wide range of operations on MySQL and MariaDB.

---
version: "2.1"
services:
  phpmyadmin:
    image: ghcr.io/linuxserver/phpmyadmin
    container_name: phpmyadmin
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # Set to `1` to allow you to connect to any server. Setting to `0` will only allow you to connect to specified hosts (See Application Setup)
      - PMA_ARBITRARY=1 # optional
      # Set the URL you will use to access the web frontend
      - PMA_ABSOLUTE_URI=https://phpmyadmin.example.com # optional
    volumes:
      # Persistent config files
      - ${BASEDIR:-/volume1/docker}/phpmyadmin/config:/config
    ports:
      # Port for web frontend
      - 80:80
    restart: unless-stopped
