# [Davos](https://github.com/linuxserver/davos) is an FTP automation tool that
# periodically scans given host locations for new files. It can be configured
# for various purposes, including listening for specific files to appear in the
# host location, ready for it to download and then move, if required. It also
# supports completion notifications as well as downstream API calls, to further
# the workflow.

---
version: "2.1"
services:
  davos:
    image: ghcr.io/linuxserver/davos
    container_name: davos
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # davos's config location. This is where it stores its database file and logs.
      - ${BASEDIR:-/volume1/docker}/davos/config:/config
      # davos's file download location
      - ${BASEDIR:-/volume1/docker}/davos/download:/download
    ports:
      # This is the default port that davos runs under
      - 8080:8080
    restart: unless-stopped
