# [Smokeping](https://oss.oetiker.ch/smokeping/) keeps track of your network
# latency. For a full example of what this application is capable of visit
# [UCDavis](http://smokeping.ucdavis.edu/cgi-bin/smokeping.fcgi).

---
version: "2.1"
services:
  smokeping:
    image: ghcr.io/linuxserver/smokeping
    container_name: smokeping
    # In a master-slave architecture, the hostname of the master node is displayed as its name in the web interface, while the hostname of the slave nodes represents their device aliases. These slave hostnames must match the aliases defined in the master's Slaves file.
    hostname: {{ project_name }} # optional
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # Specify the master url to connect to. Used when in slave mode.
      - MASTER_URL=http://<master-host-ip>:80/smokeping/ # optional
      # Specify the master shared secret for this host. Used when in slave mode.
      - SHARED_SECRET=password # optional
      # Specify the cache directory for this host. Used when in slave mode.
      - CACHE_DIR=/tmp # optional
    volumes:
      # Persistent config files
      - ${BASEDIR:-/volume1/docker}/smokeping/config:/config
      # Storage location for db and application data (graphs etc)
      - ${BASEDIR:-/volume1/docker}/smokeping/data:/data
    ports:
      # Allows HTTP access to the internal webserver.
      - 80:80
    restart: unless-stopped
