# [Firefox](https://www.mozilla.org/en-US/firefox/) Browser, also known as
# Mozilla Firefox or simply Firefox, is a free and open-source web browser
# developed by the Mozilla Foundation and its subsidiary, the Mozilla
# Corporation. Firefox uses the Gecko layout engine to render web pages, which
# implements current and anticipated web standards.

---
version: "2.1"
services:
  firefox:
    image: ghcr.io/linuxserver/firefox
    container_name: firefox
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # Specify one or multiple Firefox CLI flags, this string will be passed to the application in full.
      - FIREFOX_CLI=https://www.linuxserver.io/ # optional
    volumes:
      # Users home directory in the container, stores local files and settings
      - ${BASEDIR:-/volume1/docker}/firefox/config:/config
    ports:
      # Firefox desktop gui.
      - 3000:3000
      # Firefox desktop gui HTTPS.
      - 3001:3001
    shm_size: "1gb"
    restart: unless-stopped
