# [Folding@home](https://foldingathome.org/) is a distributed computing project
# for simulating protein dynamics, including the process of protein folding and
# the movements of proteins implicated in a variety of diseases. It brings
# together citizen scientists who volunteer to run simulations of protein
# dynamics on their personal computers. Insights from this data are helping
# scientists to better understand biology, and providing new opportunities for
# developing therapeutics.

---
version: "2.1"
services:
  foldingathome:
    image: ghcr.io/linuxserver/foldingathome
    container_name: foldingathome
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=Etc/UTC
      # Specify a timezone to use for example Europe/Amsterdam
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Where Folding@home should store its database and config.
      - ${BASEDIR:-/volume1/docker}/foldingathome/config:/config
    ports:
      # Folding@home web gui.
      - 7396:7396
      # Optional port for connecting remotely via FAHControl app (no password).
      - 36330:36330 # optional
    restart: unless-stopped
