# [Ubooquity](https://vaemendis.net/ubooquity/) is a free, lightweight and easy-
# to-use home server for your comics and ebooks. Use it to access your files
# from anywhere, with a tablet, an e-reader, a phone or a computer.

---
version: "2.1"
services:
  ubooquity:
    image: ghcr.io/linuxserver/ubooquity
    container_name: ubooquity
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # To set the maximum memory. ( ex: set '1024' for 1GB )
      - MAXMEM= # optional
    volumes:
      # Config files and database for ubooquity.
      - ${BASEDIR:-/volume1/docker}/ubooquity/config:/config
      # Location of books.
      - ${BASEDIR:-/volume1/docker}/ubooquity/books:/books
      # Location of comics.
      - ${BASEDIR:-/volume1/docker}/ubooquity/comics:/comics
      # Location of raw files.
      - ${BASEDIR:-/volume1/docker}/ubooquity/files:/files
    ports:
      # The library port.
      - 2202:2202
      # The admin port.
      - 2203:2203
    restart: unless-stopped
