# [WPS Office](https://www.wps.com/) is a lightweight, feature-rich
# comprehensive office suite with high compatibility. As a handy and
# professional office software, WPS Office allows you to edit files in Writer,
# Presentation, Spreadsheet, and PDF to improve your work efficiency.

---
version: "2.1"
services:
  wps-office:
    image: ghcr.io/linuxserver/wps-office
    container_name: wps-office
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Users home directory in the container, stores program settings and documents
      - ${BASEDIR:-/volume1/docker}/wps-office/config:/config
    ports:
      # WPS Office desktop gui.
      - 3000:3000
      # WPS Office desktop gui HTTPS.
      - 3001:3001
    shm_size: "1gb"
    restart: unless-stopped
