# [DB Browser for SQLite](https://sqlitebrowser.org/) is a high quality, visual,
# open source tool to create, design, and edit database files compatible with
# SQLite.

---
version: "2.1"
services:
  sqlitebrowser:
    image: ghcr.io/linuxserver/sqlitebrowser
    container_name: sqlitebrowser
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Users home directory in the container, stores program settings and potentially dump files.
      - ${BASEDIR:-/volume1/docker}/sqlitebrowser/config:/config
    ports:
      # Sqlitebrowser desktop gui.
      - 3000:3000
      # Sqlitebrowser desktop gui HTTPS.
      - 3001:3001
    restart: unless-stopped
