# Nextcloud gives you access to all your files wherever you are.  Where are your
# photos and documents? With Nextcloud you pick a server of your choice, at
# home, in a data center or at a provider. And that is where your files will be.
# Nextcloud runs on that server, protecting your data and giving you access from
# your desktop or mobile devices. Through Nextcloud you also access, sync and
# share your existing data on that FTP drive at the office, a Dropbox or a NAS
# you have at home.

---
version: "2.1"
services:
  nextcloud:
    image: ghcr.io/linuxserver/nextcloud
    container_name: nextcloud
    environment:
      # for GroupID
      - PUID=${PUID:-1024}
      # for UserID
      - PGID=${PGID:-100}
      # Specify a timezone to use for example Europe/Amsterdam
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Nextcloud configs.
      - ${BASEDIR:-/volume1/docker}/nextcloud/config:/config
      # Your personal data.
      - ${BASEDIR:-/volume1/docker}/nextcloud/data:/data
    ports:
      # WebUI
      - 443:443
    restart: unless-stopped
