# [Bookstack](https://github.com/BookStackApp/BookStack) is a free and open
# source Wiki designed for creating beautiful documentation. Featuring a simple,
# but powerful WYSIWYG editor it allows for teams to create detailed and useful
# documentation with ease. Powered by SQL and including a Markdown editor for
# those who prefer it, BookStack is geared towards making documentation more of
# a pleasure than a chore. For more information on BookStack visit their website
# and check it out: https://www.bookstackapp.com

---
version: "2.1"
services:
  bookstack:
    image: ghcr.io/linuxserver/bookstack
    container_name: bookstack
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # The protocol, IP/URL, and port that your application will be accessed on (ie. `http://192.168.1.1:6875` or `https://bookstack.mydomain.com`
      - APP_URL=
      # Session encryption key. You will need to generate this with `docker run -it --rm --entrypoint /bin/bash lscr.io/linuxserver/bookstack:latest appkey`
      - APP_KEY=
      # The database instance hostname
      - DB_HOST=
      # Database port
      - DB_PORT=3306
      # Database user
      - DB_USERNAME=
      # Database password (minimum 4 characters & non-alphanumeric passwords must be properly escaped.)
      - DB_PASSWORD=
      # Database name
      - DB_DATABASE=
      # Set to `database` to enable async actions like sending email or triggering webhooks. See [documentation](https://www.bookstackapp.com/docs/admin/email-webhooks/#async-action-handling).
      - QUEUE_CONNECTION= # optional
    volumes:
      # Persistent config files
      - ${BASEDIR:-/volume1/docker}/bookstack/config:/config
    ports:
      # http/s web interface.
      - 6875:80
    restart: unless-stopped
