# [Synclounge](https://github.com/samcm/synclounge) is a third party tool that
# allows you to watch Plex in sync with your friends/family, wherever you are.

---
version: "2.1"
services:
  synclounge:
    image: ghcr.io/linuxserver/synclounge
    container_name: synclounge
    environment:
      # If set, only the users defined here and the users of the plex servers defined here will be able to access the server. Use e-mails, plex usernames and/or plex server machine ids, comma separated, no spaces.
      - AUTH_LIST=plexuser1,plexuser2,email1,machineid1 # optional
    volumes:
      # Configuration files.
      - ${BASEDIR:-/volume1/docker}/synclounge/config:/config
    ports:
      # Web app and server port
      - 8088:8088
    restart: unless-stopped
