# [Raneto](http://raneto.com/) - is an open source Knowledgebase platform that
# uses static Markdown files to power your Knowledgebase.

---
version: "2.1"
services:
  raneto:
    image: ghcr.io/linuxserver/raneto
    container_name: raneto
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Raneto config and Markdown files
      - ${BASEDIR:-/volume1/docker}/raneto/config:/config
    ports:
      # The port for the Raneto web interface
      - 3000:3000
    restart: unless-stopped
