# [Openvscode-server](https://github.com/gitpod-io/openvscode-server) provides a
# version of VS Code that runs a server on a remote machine and allows access
# through a modern web browser.

---
version: "2.1"
services:
  openvscode-server:
    image: ghcr.io/linuxserver/openvscode-server
    container_name: openvscode-server
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # Optional security token for accessing the Web UI (ie. `supersecrettoken`).
      - CONNECTION_TOKEN= # optional
      # Optional path to a file inside the container that contains the security token for accessing the Web UI (ie. `/path/to/file`). Overrides `CONNECTION_TOKEN`.
      - CONNECTION_SECRET= # optional
      # If this optional variable is set, user will have sudo access in the openvscode-server terminal with the specified password.
      - SUDO_PASSWORD=password # optional
      # Optionally set sudo password via hash (takes priority over `SUDO_PASSWORD` var). Format is `$type$salt$hashed`.
      - SUDO_PASSWORD_HASH= # optional
    volumes:
      # Contains all relevant configuration files.
      - ${BASEDIR:-/volume1/docker}/openvscode-server/config:/config
    ports:
      # Web UI port.
      - 3000:3000
    restart: unless-stopped
