# [Emby](https://emby.media/) organizes video, music, live TV, and photos from
# personal media libraries and streams them to smart TVs, streaming boxes and
# mobile devices. This container is packaged as a standalone emby Media Server.

---
version: "2.1"
services:
  emby:
    image: ghcr.io/linuxserver/emby
    container_name: emby
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Emby data storage location. *This can grow very large, 50gb+ is likely for a large collection.*
      - ${BASEDIR:-/volume1/docker}/emby/config:/config
      # Media goes here. Add as many as needed e.g. `/data/movies`, `/data/tv`, etc.
      - ${BASEDIR:-/volume1/docker}/emby/data/tvshows:/data/tvshows
      # Media goes here. Add as many as needed e.g. `/data/movies`, `/data/tv`, etc.
      - ${BASEDIR:-/volume1/docker}/emby/data/movies:/data/movies
      # Path for Raspberry Pi OpenMAX libs *optional*.
      - /opt/vc/lib:/opt/vc/lib # optional
    ports:
      # Http webUI.
      - 8096:8096
      # Https webUI (you need to setup your own certificate).
      - 8920:8920 # optional
    devices:
      # Only needed if you want to use your Intel or AMD GPU for hardware accelerated video encoding (vaapi).
      - /dev/dri:/dev/dri # optional
      # Only needed if you want to use your Raspberry Pi OpenMax video encoding (Bellagio).
      - /dev/vchiq:/dev/vchiq # optional
      # Only needed if you want to use your Raspberry Pi V4L2 video encoding.
      - /dev/video10:/dev/video10 # optional
      # Only needed if you want to use your Raspberry Pi V4L2 video encoding.
      - /dev/video11:/dev/video11 # optional
      # Only needed if you want to use your Raspberry Pi V4L2 video encoding.
      - /dev/video12:/dev/video12 # optional
    restart: unless-stopped
