# [Kavita](https://github.com/Kareadita/Kavita) is a fast, feature rich, cross
# platform reading server. Built with a focus for being a full solution for all
# your reading needs. Setup your own server and share your reading collection
# with your friends and family!

---
version: "2.1"
services:
  kavita:
    image: ghcr.io/linuxserver/kavita
    container_name: kavita
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # Contains all relevant configuration files.
      - ${BASEDIR:-/volume1/docker}/kavita/config:/config
      # Media library containing manga, comics and books.
      - ${BASEDIR:-/volume1/docker}/kavita/data:/data # optional
    ports:
      # web gui
      - 5000:5000
    restart: unless-stopped
