# [Kometa](https://github.com/Kometa-Team/Kometa) is a powerful tool designed to
# give you complete control over your media libraries. With Kometa, you can take
# your customization to the next level, with granular control over metadata,
# collections, overlays, and much more.

---
services:
  kometa:
    image: lscr.io/linuxserver/kometa:latest
    container_name: kometa
    environment:
      # Run 'id [USER]' for the owner of the host volume directories to get the UID to use here.
      - PUID=${PUID:-1000}
      # Run 'id [USER]' for the owner of the host volume directories to get the GID to use here.
      - PGID=${PGID:-1000}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Etc/UTC}
      # Specify a custom config file to use. [OPTIONAL]
      - KOMETA_CONFIG=/config/config.yml
      # Comma-separated list of times to update each day. Format: `HH:MM`. [OPTIONAL]
      - KOMETA_TIMES=03:00
      # Set to `True` to run without the scheduler. [OPTIONAL]
      - KOMETA_RUN=False
      # Set to `True` to run in debug mode with only collections that have `test: true`. [OPTIONAL]
      - KOMETA_TESTS=False
      # Set to `True` to run without any of the missing movie/show functions. [OPTIONAL]
      - KOMETA_NO_MISSING=False
    volumes:
      # Persistent config files
      - ${BASEDIR:-/srv/lsio}/kometa/config:/config
    ports:
      # Application WebUI
      - 80:80
    restart: unless-stopped