# [Lazylibrarian](https://lazylibrarian.gitlab.io/) is a program to follow
# authors and grab metadata for all your digital reading needs. It uses a
# combination of Goodreads Librarything and optionally GoogleBooks as sources
# for author info and book info. This container is based on the DobyTang fork.

---
version: "2.1"
services:
  lazylibrarian:
    image: ghcr.io/linuxserver/lazylibrarian
    container_name: lazylibrarian
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # Allows additional functionality to be added, e.g. the Calibredb import program (optional, more info below)
      - DOCKER_MODS=linuxserver/mods:universal-calibre|linuxserver/mods:lazylibrarian-ffmpeg # optional
    volumes:
      # LazyLibrarian config
      - ${BASEDIR:-/volume1/docker}/lazylibrarian/config:/config
      # Download location
      - ${BASEDIR:-/volume1/docker}/lazylibrarian/downloads:/downloads
      # Books location
      - ${BASEDIR:-/volume1/docker}/lazylibrarian/books:/books # optional
    ports:
      # The port for the LazyLibrarian webinterface
      - 5299:5299
    restart: unless-stopped
