# The [Mullvad Browser](https://mullvad.net/en/browser) is a privacy-focused web
# browser developed in a collaboration between Mullvad VPN and the Tor Project.
# It’s designed to minimize tracking and fingerprinting. You could say it’s a
# Tor Browser to use without the Tor Network. Instead, you can use it with a
# trustworthy VPN.

---
version: "2.1"
services:
  mullvad-browser:
    image: ghcr.io/linuxserver/mullvad-browser
    container_name: mullvad-browser
    cap_add:
      - NET_ADMIN
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
      # If using a VPN, set this to your local LAN IP range using CIDR notation. Without it you will be unable to access the web interface. If you have multiple ranges or a complex LAN setup you will need to manage this yourself in the wg0.conf, see the App Setup section for details.
      - LOCAL_NET=192.168.0.0/16 # optional
    volumes:
      # Users home directory in the container, stores local files and settings
      - ${BASEDIR:-/volume1/docker}/mullvad-browser/config:/config
    ports:
      # Mullvad Browser GUI.
      - 3000:3000
      # Mullvad Browser GUI HTTPS.
      - 3001:3001
    shm_size: "1gb"
    restart: unless-stopped
