# [Mstream](https://mstream.io/) is a personal music streaming server. You can
# use mStream to stream your music from your home computer to any device,
# anywhere. There are mobile apps available for both Android and iPhone.

---
version: "2.1"
services:
  mstream:
    image: ghcr.io/linuxserver/mstream
    container_name: mstream
    environment:
      # for UserID
      - PUID=${PUID:-1024}
      # for GroupID
      - PGID=${PGID:-100}
      # specify a timezone to use, see this [list](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
      - TZ=${TZ:-Europe/Amsterdam}
    volumes:
      # mStream config
      - ${BASEDIR:-/volume1/docker}/mstream/config:/config
      # Music location
      - ${BASEDIR:-/volume1/docker}/mstream/music:/music
    ports:
      # The port for the mStream web interface
      - 3000:3000
    restart: unless-stopped
